<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gloock&family=Josefin+Sans&family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./index.css" />
<body>
<style>
  * {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    /* overflow-x: hidden; */
  }

  body {
    background-color: aliceblue;
    font-family: 'Poppins';
  }

  .MachineLearningwithPythonmin {
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 1000px 400px;
    background-size: auto;
    background-image: url(https://www.scnsoft.com/blog-pictures/information-security/7-best-practices-for-database-security.png);
    background-size: cover;
    height: 350px;
  }

  .Machine {
    padding: 60px 450px 20px 20px;
    margin: 0px 0px 0px 0px;
    font-size: 50px;
    font-family: 'Josefin Sans';
    text-align: center;
    color: whitesmoke;
  }

  .OUR {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    color: rgb(70, 70, 69);
    font-size: 40px;
  }

  .maininfo {
    font-size: 20px;
    padding: 100px 10px 10px 10px;
    margin: 10px 20px 20px 20px;
    font-style: normal;
    font-weight: 100;
  }

  .about {
    box-shadow: 7px 7px 20px 5px rgba(0, 0, 0, 0.475);
    border-radius: 10px;
    border: solid rgb(60, 6, 118) 3px;
    width: auto;
    width: 50%;
  }

  #i {
    margin: 3% 3% 3% 3%;
    float: left;
  }

  .second {
    clear: left;
  }

  #ii {
    width: 500px;
    margin: 3% 3% 3% 3%;
    float: right;
  }

  .third {
    clear: right;
  }

  #iii {
    margin: 3% 3% 3% 3%;
    float: left;
  }

  .forth {
    clear: left;
  }

  #iv {
    margin: 3% 3% 3% 3%;
    float: right;
  }

  .thank {
    clear: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    font-weight: 50;
  }

  time {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    font-weight: 80;
    color: rgb(132, 131, 131);
    text-align: center;
  }

  .thankimg {
    display: block;
    border: none;
    box-shadow: none;
    margin: auto;
    height: 200px;
    width: auto;
    transition: width 2s, height 2s;
    animation-name: fade;
    animation-duration: 2s;
  }

  .thankimg:hover {
    width: 250px;
    height: 200px;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .MachineLearningwithPythonmin {
      height: 250px;
    }

    .Machine {
      padding: 30px;
      font-size: 40px;
    }

    .maininfo {
      padding: 50px 10px 10px 10px;
    }

    .about {
      width: 90%;
    }

    .thank {
      font-size: 20px;
      padding: 10px;
      margin: 10px;
    }
  }
</style>

<main>
  {{>navbar}}
  <div class="MachineLearningwithPythonmin">
    <p class="Machine">MONGODB AS DATABASE</p>
  </div>

  <h1 class="OUR">Welcome to Ourweb</h1>

  <!--this is the code for the info about the info section -->
  <div class="main">

    <!--first div about the information-->
    <div class="first">
      <img class="mainimg about" id="i" src="https://akm-img-a-in.tosshub.com/sites/weather/resources/image/it_og_image.png">
      <p class="maininfo">
      Current Weather Conditions: Weather forecasting websites display the current temperature, humidity, wind speed, air pressure, and other relevant weather parameters for a specific location. This information helps users understand the current state of the atmosphere.
Weather Forecasts: These websites provide short-term and long-term forecasts.
      </p>
    </div>

    <!--second div about the information-->
    <div class="second">
      <img class="mainimg about" id="ii" src="https://dv-website.s3.amazonaws.com/uploads/2022/06/sr_futureDBMS_june22.jpg">
      <p class="maininfo">
        A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.
      </p>
    </div>

    <!--third div about the information-->
    <div class="third">
      <img class="mainimg about" id="iii" src="https://blog.vantagecircle.com/content/images/2020/08/teamwork-and-team-building.png">
      <p class="maininfo">
        Our team consists of passionate and dedicated students who are committed to making a positive impact on the world. We believe that by using technology and data to identify health risks, we can help individuals take proactive steps to maintain their health and prevent serious illnesses.
      </p>
    </div>

    <!--forth div about the information-->
    <div class="forth">
      <img class="mainimg about" id="iv" src="https://www.allthingsdistributed.com/images/predictions21-1.jpg">
      <p class="maininfo">
        We are constantly updating and improving our platform to ensure that it remains at the forefront of disease prediction technology. We welcome feedback and suggestions from our users, as we strive to provide the most accurate and user-friendly service possible.
      </p>
    </div>

  </div>

  <b><p class="thank">
    Thank you for visiting our website and joining us in our mission<br>
    to improve health outcomes for individuals and communities.
  </p></b>

  {{>footer}}
</main>
</body>
</html>
